@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@500&display=swap');

body {
    background: #E5E5E5;
    color: #505050;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

h1,h2 {
  font-family: 'Montserrat', sans-serif;
  color: #65010B;
}

a {
  color: #80506F;
  text-decoration: none;
}

a:hover {
  color: #F09999;
}

.container {
  width: 65%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 780;
  }
}

@media (max-width: 561px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 364px;
  }
}

.card-white {
  background-color: #FFFFFF;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.btn-yellow {
  background-color: #F3D491;
  color: #FFFFFF;
  padding: 8px 20px;
  border-radius: 4px;
}

.btn-yellow:hover {
  background-color: #F7E2B6;
  color: #FFFFFF;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

li {
  display: inline;
  padding: 10px;
  text-align: center;
}

i {
  font-size: 50px;
  color: #F09999;
}

i:hover {
  color: #EFEFEF;
}
